@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    @apply max-w-none;
    color: rgb(var(--foreground-rgb));
    background-color: rgba(var(--background-start-rgb), 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-text {
  @apply bg-gray-700 text-white rounded px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.dark-gray-input {
  @apply bg-gray-700 text-white p-2 rounded border border-gray-500 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.select-dropdown {
  @apply bg-gray-700 text-white border border-gray-500 p-2 rounded w-full focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.select-dropdown option {
  @apply bg-gray-700 text-white;
}

.disabled {
  @apply pointer-events-none bg-gray-500 cursor-not-allowed;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
}

.tab.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.story-elements-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.card {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card.selected {
  border-color: #0070f3;
  background-color: #65adec;
}

.card:hover {
  transform: scale(1.05);
}
